/*
jQuery UI adaptation to unRAID's style
*/
.ui-dialog .ui-dialog-title {
  text-align: center;
  width: 100%
}
.ui-dialog .ui-dialog-content {
  padding: 15px;
  font-weight: bold;
}
.ui-button-text {
  padding: 0px 5px;
}
.ui-dialog .ui-dialog-titlebar-close {
  top:40%;
}
.ui-dialog .ui-button-text-only {
  margin: .5em .4em .5em 0;
  cursor: pointer;
  text-decoration:none;
  white-space:nowrap;
  cursor:pointer;
  outline:none;
}
.ui-dialog .ui-button-text-only, .ui-dialog .ui-dialog-titlebar-close {
  border:1px solid #E8E8E8;
  color:#303030;
  background:-webkit-radial-gradient(#F0F0F0,#C8C8C8);
  background:linear-gradient(#F0F0F0,#C8C8C8);
}
.ui-dialog .ui-button-text-only:hover, .ui-dialog .ui-dialog-titlebar-close:hover {
  border-color:#6AB034;
  color:#FFFFFF;
  background:-webkit-radial-gradient(#5E9E2E,#8FD956);
  background:linear-gradient(#5E9E2E,#8FD956);
}
.ui-dialog .ui-button-text-only:active, .ui-dialog .ui-dialog-titlebar-close:active {
  border-color:#6AB034;
  box-shadow:inset 0 0 8px 4px #548C29,0 1px 0 0 #E0E0E0;
}
.ui-dialog .ui-button-text-only[disabled], .ui-dialog ..ui-dialog-titlebar-close[disabled] {
  color:#808080;
  border-color:#F0F0F0;
  background:linear-gradient(#F0F0F0,#F8F8F8);
  background:-webkit-radial-gradient(#F0F0F0,#F8F8F8);
  cursor:default;
}
