table.usb_mounts thead tr:first-child td{font-size:1.1rem;text-transform:uppercase;letter-spacing:1px;background-color:#e8e8e8}
table.usb_mounts tbody tr:nth-child(even){background-color:#ededed}
table.usb_mounts tbody tr:not(.tr_last):hover>td{background-color:rgba(0,0,0,0.1);opacity:1.0}

table.samba_mounts thead tr:first-child td{font-size:1.1rem;text-transform:uppercase;letter-spacing:1px;background-color:#e8e8e8}
table.samba_mounts tbody tr:nth-child(even){background-color:#ededed}
table.samba_mounts tbody tr:not(.tr_last):hover>td{background-color:rgba(0,0,0,0.1);opacity:1.0}

table.usb_absent thead tr:first-child td{font-size:1.1rem;text-transform:uppercase;letter-spacing:1px;background-color:#e8e8e8}
table.usb_absent tbody tr:nth-child(even){background-color:#ededed}
table.usb_absent tbody tr:not(.tr_last):hover>td{background-color:rgba(0,0,0,0.1);opacity:1.0}
