ACTION=="add", KERNEL=="sd*", ENV{DEVTYPE}=="partition" RUN+="/usr/local/emhttp/plugins/unassigned.devices/scripts/rc.udev mount"
ACTION=="change", ENV{DEVTYPE}=="partition" RUN+="/usr/local/emhttp/plugins/unassigned.devices/scripts/rc.udev reload"
ACTION=="remove", ENV{ID_TYPE}=="disk" RUN+="/usr/local/emhttp/plugins/unassigned.devices/scripts/rc.udev umount"