ACTION=="add", KERNEL=="sd*", ENV{DEVTYPE}=="partition" RUN+="/usr/local/emhttp/plugins/unassigned.devices/scripts/rc.unassigned mount >/dev/null 2>&1 & disown"
ACTION=="change", ENV{DEVTYPE}=="partition" RUN+="/usr/local/emhttp/plugins/unassigned.devices/scripts/rc.unassigned reload >/dev/null 2>&1 & disown"
ACTION=="remove", ENV{ID_TYPE}=="disk" RUN+="/usr/local/emhttp/plugins/unassigned.devices/scripts/rc.unassigned umount >/dev/null 2>&1 & disown"
